body {
    background-color:rgb(32, 31, 31);
    margin-left: 8em;
    margin-right: 8em;
}

#title {
    font-family: 'Berkshire Swash', cursive;
    font-size: 45px;
    color:grey;
    width:20%;
}


 h2:hover {
    opacity: 0.5;
}

img {
    margin-right: 30px;
}

.content{
    background-color:grey;
    text-align: center;
    height: 25em;
    padding-top: 3em;
}